@import "./../../../node_modules/vuetify/dist/vuetify.css";
@import './../../../node_modules/cropperjs/dist/cropper.css';

html, body{
  overflow: hidden;
}

.scroll-container{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.v-toolbar__extension{
  height: auto !important;
}

.v-datatable td, .crud-tree-item{

  .v-input--checkbox{
    justify-content: center;

    .v-input__control{
      flex-grow: 0;
      flex-direction: row;
      width: auto;
    }

    .v-input__slot{
      margin: 0;

      .v-input--selection-controls__input{
        margin: 0;
      }
    }
  }
}

.crud-tree-item{
  .v-input{
    margin-top: 0;
    margin-right: 5px;
  }
}

